@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Reem+Kufi+Fun&family=Rubik+Dirt&family=Shadows+Into+Light&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Reem Kufi Fun', sans-serif;
  background-color: #ebf2fc;
}

header {
  background-color: #A8C7F2;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a{
  text-decoration: none;
  text-align: center;
  color: #34324f;
}

a:hover {
  color: white;
}

a:active {
  color: #6b66aa;
}

header h1 {
  margin-top: 5px;
  font-size: 40pt;
  color: #6b66aa;
  text-shadow: 0px 5px 5px rgba(255, 255, 255, 0.349),
               0px -5px 5px rgba(0, 0, 0, 0.288);
  font-family: 'Bebas Neue', cursive;;
}

nav {
  display: flex;
  
  padding: auto 5px;
  width: 400px;
}

.nav-left {
  margin: 10px 10px 30px;
}

.nav-right {
  justify-content: flex-end;
  margin: 10px 10px 0px;
  font-size: 18pt;
}

.nav-right a {
  margin-right: 50px;
}


/* ///////////////////////////////////////////////////// */
.intro {
  background-image: url("img/intro-bg-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 500px;
  width: 100%;
  display: flex;
  
}

.intro-content {
  background-color: #a7c0e05f;
  
  height: 95%;
  width: 98%;
  margin: auto;
  padding: 10px;
  
  box-sizing: border-box;

}

@keyframes swap-img {
  0% {
    background-image: url("img/intro-img-1.jpg");
  } 50% {
    background-image: url("img/intro-img-2.jpg");
  } 90% {
    background-image: url("img/intro-img-1.jpg");
  }
  
}

.intro-content .img {
  height: 100%;
  width: 40%;
  background-position: center;
  background-size: cover;
  
  float: left;
  margin: 0px 50px 0px;
  box-sizing: border-box;
  border: 10px double #659ce8;
  
  background-image: url("img/intro-img-1.jpg");
  animation-name: swap-img;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}



.intro-content h1 {
  color: #659ce8;
  
  font-size: 50pt;
  font-family: 'Rubik Dirt', cursive;
  font-weight: lighter;
  text-shadow: 0px 5px 5px #34324f;
}

.intro-content p {
  color: #34324f;
  margin: 10px;
  
  /* font-family: 'Kanit', sans-serif; */
  /* line-height: 1.15em; */
  /* word-spacing: 10px; */
}

.intro-content p .description {
  font-size: 24pt;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
}

.intro-content p .quotes {
  font-family: 'Bebas Neue', cursive;
  display: inline-block;
  margin-top: 70px;

  font-size: 20pt;
}

.intro-content p i {
  display: inline-block;
  margin-top: 20px;
}



/* ///////////////////////////////////////////////////// */

.page-content {
  background-color: #ebf2fc;
  
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.category {
  background-color: white;
  width: 80%;
  box-shadow: 5px 0px 10px #8a8a8a48,
              -5px 0px 10px #8a8a8a48;
}

.category-title {
  background-color: white;
  height: 100px;
  font-size: 18pt;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}


.category-container {
  background-color: white;

  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
}

.category-content {
  background-color: #f6f9fd;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  
  height: 90%;
  width: 300px;

  margin: 10px 5px;
  padding: 10px;
  box-sizing: border-box;
  transition: 1s;

}

.category-content .img {
  /* background-image: url("img/g1.jpg"); */
  background-position: center;
  background-size: cover;
  border-radius: 10px;

  width: 250px;
  height: 250px;
  margin: auto;
}

.painting-1 {
  background-image: url("img/painting-1.jpg");
}
.painting-2 {
  background-image: url("img/painting-2.jpg");
}
.painting-3 {
  background-image: url("img/painting-3.jpg");
}
.painting-4 {
  background-image: url("img/painting-4.jpg");
}
.tool-1 {
  background-image: url("img/tool-1.jpeg");
}
.tool-2 {
  background-image: url("img/tool-2.jpg");
}
.tool-3 {
  background-image: url("img/tool-3.jpg");
}
.tool-4 {
  background-image: url("img/tool-4.jfif");
}

.category-content h3, .category-content p {
  /* box-sizing: border-box; */
  margin: 10px;
}

.painting-content-1, .painting-content-2, .painting-content-3, .painting-content-4,
.tool-content-1, .tool-content-2, .tool-content-3, .tool-content-4 {
  transition: transform 0.25s, box-shadow 0.25s;
}

.painting-content-1:hover, .painting-content-2:hover, .painting-content-3:hover, .painting-content-4:hover,
.tool-content-1:hover, .tool-content-2:hover, .tool-content-3:hover, .tool-content-4:hover{
  transform: scale(1.05);
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.21),
              -5px 5px 15px rgba(0, 0, 0, 0.21);
  transition-timing-function: ease-in-out;
}

.price {
  color: #34324f;
  display: inline-block;
  margin-top: 5px;
  font-size: 14pt;
}

/* ///////////////////////////////////////////////////// */

footer {
  height: 100px;
  width: auto;

  background-color: #659ce8;
  
  display: flex;
  justify-content: center;
  padding: 20px;
}

footer p {
  text-align: center;
  font-size: 14pt;
  color: #edf3fc;
}

.about-us-content-page {
  margin: auto;
  height: 500px;
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
}

.about-us-content-page h1 {
  margin: 50px 0px 50px 0px;
  color: #34324f;
}

.container-about-us {
  display: flex;
  justify-content: baseline;
}

.container-about-us .foto {
  height: 200px;
  width: 150px;
  margin: 30px;
  background-image: url("img/foto.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(0.5px);
}

.about-us-content {
  background-color: rgba(255, 255, 255, 0.635);
  padding: 20px;
  border: 5px dotted #A8C7F2;
  height: 30%;
  margin: auto;
}

@media screen and (min-width:100px) and (max-width:1000px) {
  .category-container {
    flex-direction: column;
    background-color: #34324f;
  }
}